.cards {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
    margin-top: 4vmin;
    padding: 12px 0;

    .card {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border-radius: 1rem;
        background: var(--bg-2);
        min-height: 100px;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        
        &:hover {
            transform: scale(1.05);
            filter: brightness(1.3);
            box-shadow: 0 0 10px 2px var(--primary-color);
            .card-title {
                color:white;
            }
        }

        .card-info {
            padding: 0 24px 24px;
            text-align: center;
        }

        .card-title {
            color:white;
            margin-top: 0.7em;
        }

        .card-image {
            margin-top:20px;
            width: 90%;
        }

        .card-image-placeholder {
            width: 100%;
            height: 12px;
        }

        .card-description {
            margin-top: 0.5em;
            overflow: hidden;
            color: var(--text-color);
        }
    }
}

@media all and (max-width: 720px) {
    .cards {
        gap: 18px;
    }
}
